# =========================
# FastAPI 서버
# =========================
fastapi
uvicorn[standard]

# =========================
# DB
# =========================
sqlalchemy
pymysql

# =========================
# 환경변수 / 설정
# =========================
python-dotenv
pydantic

# =========================
# 파일 업로드
# =========================
python-multipart

# =========================
# 외부 API 요청
# - STT 서버 호출
# =========================
requests

# =========================
# OpenAI API
# - OCR / 요약
# =========================
openai


